:root {
  --color-blue: rgb(96, 174, 251);
}

h2 {
  color: rgb(96, 174, 251);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  padding-left: 100px;
}

#root > * {
  padding: 1.5rem;
}